@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #050505;
  --color-light: #f7f7f7;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light);
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark);
}

::selection {
  background-color: #22d3ee;
  color: var(--color-dark);
}

*,
*::after,
*::before {
  cursor: none;
}

html,
body {
  overflow-x: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.inner-cursor {
  background-color: var(--color-light);
  width: 10px;
  height: 10px;
  position: fixed;
  left: 10px;
  z-index: 9999;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
}

.outer-cursor {
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  z-index: 9999;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  pointer-events: none;
  border: 1px solid var(--color-light);
  transition: 0.1s;
}

.app {
  position: relative;
}

input[type="submit"] {
  letter-spacing: inherit;
  word-spacing: inherit;
}

input,
textarea,
button {
  letter-spacing: 2px;
  word-spacing: 3px;
}

.link-item {
  position: relative;
}

.link-item::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--color-light);
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.link-item:hover::before {
  width: 100%;
}

.hero {
  position: relative;
}

.hero-image,
.project-right,
.about-left {
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.noise {
  background-image: url("./assets/images/noise.gif");
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.07;
}

.circle-left,
.circle-right {
  width: 60vw;
  aspect-ratio: 1/1;
  position: fixed;
  border: 1px dashed var(--color-light);
  border-radius: 50%;
  opacity: 0.2;
  z-index: -9998;
  animation: spin 90s infinite linear;
}

.circle-left {
  top: -40%;
  left: -20%;
}

.circle-right {
  bottom: -40%;
  right: -20%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.shutter {
  position: absolute;
  font-size: 13rem;
  z-index: 100;
  font-family: "DM Serif Text", serif;
}

.shutter-left {
  top: 0;
  left: 0;
}

.shutter-right {
  bottom: 0;
  right: 0;
}

.section-title {
  font-size: 10vw;
  line-height: 1;
  font-family: "DM Serif Text", serif;
}

.skill-item {
  position: relative;
}

.skill-item::after,
.skill-item::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--color-light);
}

.skill-item::before {
  width: 0%;
  opacity: 0.2;
  transition: 1.5s;
}

.skill-item.reveal::before {
  width: 100%;
}

.skill-item::after {
  width: 0%;
  transition: all 0.5s;
  background-color: #22d3ee;
}

.skill-item:hover::after {
  width: 100%;
}

.skill-number {
  font-size: 5rem;
}

.skill-title {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .hero::before,
  .hero::after {
    font-size: 8rem;
  }

  .section-title {
    font-size: 8rem;
  }

  .shutter {
    font-size: 12rem;
  }
}

@media screen and (max-width: 640px) {
  .circle-left,
  .circle-right {
    width: 80vw;
  }

  html {
    font-size: 50%;
  }

  .container {
    padding: 0 2rem;
  }

  .hero::before,
  .hero::after {
    font-size: 6rem;
  }

  .hero-image,
  .about-left {
    width: 100%;
    height: 500px;
  }

  .project-right {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }

  .circle-left,
  .circle-right {
    width: 90vw;
  }

  .hero::before,
  .hero::after {
    font-size: 5rem;
  }

  .section-title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 350px) {
  .shutter {
    font-size: 8rem;
  }

  .shutter {
    font-size: 7rem;
  }
}
